.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 30px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    margin-left: 1em;
  }
  
  .footer-text {
    margin-left: 10px;
  }
  